<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <string class="navbar-brand">
                <i class="fa fa-book" aria-hidden="true"></i> BOOK STORE
            </string>
           
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                @if (ViewBag.CurrentPage == "Index"){ <li class="nav-item active"> <a class="nav-link" href="/">Главная</a></li>}
                else{<li class="nav-item "><a class="nav-link" href="/">Главная</a></li>}
                      
                @if (ViewBag.CurrentPage == "About"){ <li class="nav-item active"> <a class="nav-link" href="/Home/About">О нас</a></li>}
                else{<li class="nav-item "><a class="nav-link" href="/Home/About">О нас</a></li>}

                @if (ViewBag.CurrentPage == "Contact"){ <li class="nav-item active"> <a class="nav-link" href="/Home/Contact">Контакты</a></li>}
                else{<li class="nav-item "><a class="nav-link" href="/Home/Contact">Контакты</a></li>}

                @if (ViewBag.CurrentPage == "Account")
                {<li class="nav-item active"> <a class="nav-link" href="/Auth">Аккакунт</a></li>}
                else{<li class="nav-item "><a class="nav-link" href="/Auth">Аккаунт</a></li>}

                @if (Session["Cart"] != null)
                {
                    <li class="nav-item "><a class="nav-link" href="/Chart">Корзина</a></li>
                }

                </ul>
                <form method="get" action="/Home/Search" class="form-inline my-2 my-lg-0">
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        @if (ViewBag.books != null)
        {
        <div class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline">
                @foreach (var cat in ViewBag.books)
                {
                    if (cat.Id == ViewBag.PageId)
                    {
                        <a class="nav-link active" href="/Home/Index/@cat.Id">@cat.Name</a>
                    }
                    else
                    {
                        <a class="nav-link" href="/Home/Index/@cat.Id">@cat.Name</a>
                    }
                }
            </nav>
        </div>
        }
    </header>
        @RenderBody()
     
        <div class="container">

            <footer>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>
        </div>

        <div class="Errors">
            @{
                foreach (ModelState modelState in ViewData.ModelState.Values)
                {
                    foreach (ModelError error in modelState.Errors)
                    {
                        <div class="alert alert-danger" role="alert">
                            @error.ErrorMessage
                        </div>
                    }
                }
            }
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/App.js")
        @RenderSection("scripts", required: false)
</body>
</html>
